p {
    font-family: 'Dancing Script';
}
.parag-f {
    font-weight: bold;
}
.parag-s {
    font-size: 24px;
}
.parag-t {
    line-height: 50px;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10px;
}
h1::first-letter {
    font-size: 50px;
    text-shadow: 10px 10px 20px black;
}
