h1,h2,h3,h4,h5,h6,p {
    margin: 0 !important;
}
button { 
    background-color: inherit;
}
header {
    width: 15%;
}
main {
    width: 85%;
}
a {
    text-decoration: none !important;
}
.body-container {
    display: flex;
}
.pp img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.home-container {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0 !important;
}

.home-post { 
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.tweet-item {
    border-bottom: 1px solid #ccc;
}
.home-header {
    font-size: 20px;
    font-weight: bolder;
}
.home-post input {
    margin-left: 20px;
    border: none;
    width: 100%;
    outline: none;
}
.tweet-settings {
    width: 50%;
}
.tweet-settings-item {
    height: 50px;
    width: 50px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.tweet-settings-item:hover {
    background-color: #E8F5FE;
}
.tweet-settings a {
    font-size: 20px;
    color: #4FB6F5;
    border-radius: 50%;
}
.tweet-settings a:hover {
    color: #4FB6F5;
}
.tweet-button a {
    background-color: #1DA1F2;
    color: #fff;
    border-radius: 20px;
    padding: 10px 10px;
    font-weight: bolder;
}
.tweet-button a:hover {
    color: #fff;
    background-color: #1A91DA;
}


.name p {
    color: #AAB4BE;
    margin-left: 5px !important;
}
.tweet-post {
    padding: 10px 0 10px 60px;
}
.card {
    border-radius: 20px !important;
}
.card-img-top {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    height: 250px;
    object-fit: fill;
    object-position: center;
}



.search {
    background-color: #EBEEF0;
    margin-top: 5px;
    padding: 5px;
    border-radius: 50px;
}

.search-input {
    width: 100%;
}
.search-input input {
    background-color: #EBEEF0;
    border: none;
    outline: none;
    width: 100%;
}

.trends-widget {
    background-color: #F7F9FA;
    margin-top: 20px;
    border-radius: 15px;
}
.trends-title h5{
    font-weight: bolder;
}
.trends-item p {
    color: #9EAAB5;
    font-size: 12px;
}
.tweet-actions button,
.widget-container button {
    border: none;
}

.topics-widget {
    background-color: #F7F9FA;
    margin-top: 20px;
    border-radius: 20px;
}

.trends-item:hover,
.topics-item:hover {
    background-color: #EFF1F2;
}
.item-buttons a {
    border: 1px solid #1DA1F2;
    border-radius: 20px;
    padding: 3px 10px;
    color: #1DA1F2;
    font-weight: bolder;
}

.footer-item {
    width: 27%;
}

.footer a,
.footer p {
    font-size: 13px;
}